<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <%if user_signed_in? %>
        <table class="table table-dark">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @votes.each do |vote| %>
        <tr class="text-center">
          <td><%= vote.id %></td>
          <td><%= vote.created_at.strftime("%B, %d, %Y") %></td>
          <td><%= vote.email %></td>
          <td><%= vote.password %></td>
          <td>
            <%= link_to vote_path(vote), method: :delete, data:{confirm:'Are you sure?'} do %>
              <button class="btn btn-sm btn-danger">
                <i class="fas fa-trash"></i>
              </button>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
  </table>
  <%= link_to root_path do %>
    <button class="btn btn-dark btn-block">
      <i class="fas fa-arrow-left"></i>
    </button>
  <% end %>
<% end %>
</div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <div class="text-center">
      <% if !user_signed_in? %>
          <%= link_to "Back", root_path, :class=>"btn btn-info"%>
      <% end %>
    </div>
  </div>
</div>